<!DOCTYPE html>
<html>
  <head>
    <title>Templating Block</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
  </head>
  <body>
    <article class="slds-card">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-canvas">
              <svg class="slds-icon slds-icon_small" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#canvas" />
              </svg>
            </span>
          </div>
          <div class="slds-media__body">
            <h2>
              <div href="javascript:void(0);" class="slds-card__header-link slds-truncate">
                <span class="slds-text-heading_small">Templating Block Configuration</span>
              </div>
            </h2>
          </div>
        </header>
      </div>

      <table border='0' cellpadding='0' cellspacing='0' class='abc_full_width' role='presentation' width='100%'>
        <tr>
          <td align='center' class='paddingLR_20' style='padding: 2px 0 2px 0;' valign='top'>
           
                  <img alt='' data-assetid='' height='398' src='' style='display: block; padding: 0px; height: 398px; width: 600px; text-align: center; border: 0px none transparent;' width='600' />
               
            <table align='center' border='0' cellpadding='0' cellspacing='0' class='abc_full_width' role='presentation' style='width: 600px;' width='600'>
              <tr>
                <td align='left' bgcolor='#ffffff' style='padding: 30px 20px 25px; background-color: #ffffff;' valign='middle'>
                  <table border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%'>
                    <tr>
                      <td align='center' bgcolor='#ffffff' valign='middle'>
                      <table align='center' border='0' cellpadding='0' cellspacing='0' class='abc_full_width' role='presentation' style='width:546px;' width='546'>
                        <tr>
                        <td align='center' bgcolor='#ffffff' style='background-color: #ffffff; color: #000; text-align: left; padding-left:10px; padding-right:10px;' valign='middle'>
                          <font face='Arial, sans-serif'>
                            <span style='font-size:37.3333px'>
                              <b>
                                
                              </b>
                            </span> 
                          </font>
                        </td>
                        </tr>
                      </table>
                      </td>
                    </tr>
                  </table>
                  <table align='center' border='0' cellpadding='0' cellspacing='0' class='abc_full_width' role='presentation' style='border-radius:0px; font-size:20px;background-color: #ffffff;  color: #808285' width='100%'>
                    <tr>
                      <td align='center' class='abc_full_width' style='padding-top: 20px; line-height: 140%; font-family: Helvetica, sans-serif; font-size:16px; color:#000'>
                        <div style='text-align: left; font-family: Helvetica, sans-serif;'>
                          <p>
                           
                            <br>
                            <br>
                            <span style='font-family:Calibri,sans-serif'>
                              <span style='color:black'>
                                
                              </span>
                            </span>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table><% } %><% });


      <div class="slds-card__body slds-card__body_inner">
      <div id="workspace"></div>
      <footer class="slds-card__footer">For use in Salesforce Marketing Cloud block SDK demos only</footer>
    </article>

    <script>
      window.app = <%- app %>
    </script>
    <script src="/public/main.js"></script>



  </body>
</html>
